$primary-color: #444;
$secondary-color: #ecce1a;
$show-home-image: true;
$home-image: url(/img/background2.jpg);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
    }
  }
}