body{
  overflow-y: auto;
}

.swiper {
  &-container {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    top: -200px;
    left: 40%;
    height: 450px;
  }

  &-slide {
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.details {
  display: block;
  padding: 5px;

  &-img {
    width: 100%;
    height: 100%;
    text-align: center;

    .img-project {
      @include easeOut;
      opacity: 1;
      display: flex;
      background-size: cover;
      display: inline-block;
      vertical-align: top;
      // margin: 10px;
      border-radius: 10px;
      background-repeat: round;
    }
  }

  &-technologies {
    width: 100%;
    height: 30%;

    .logo-tech {
      // display: inline;
      width: 100%;
      height: auto;
      border: 2px solid yellow;
    }
  }
}

.swiper-pagination{
  position: relative;
  top: 20px;
}
