.swiper {
  &-container {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 10px;
    left: 10px;
  }

  &-slide {
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.details {
  display: inline-block;
  vertical-align: top;
  padding: 5px;


  &-img {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    .img-project {
      @include easeOut;
      opacity: 1;
      display: flex;
      background-size: cover;
      display: inline-block;
      vertical-align: top;
      margin: 10px;
      border-radius: 10px;
      background-repeat: round;
    }
  }

  &-technologies {
    width: 100%;
    height: 30%;

    .logo-tech {
      // display: inline;
      width: 100%;
      height: auto;
      border: 2px solid yellow;
    }
  }
}
