// Default values

body {
  overflow: hidden;
}


// Aboutme
.left {
  margin-top: -80px;

  p {
    max-width: 400px;
  }
}

.container-cube {
  margin-top: 200px;
  width: 300px;
  height: 300px;

  .box {

    &:nth-child(1) {
      @include transformValues(left, rotateY(90deg) translateX(-150px));
    }

    &:nth-child(2) {
      @include transformValues(right, rotateY(-90deg) translateX(150px));
    }

    &:nth-child(3) {
      @include transformValues(top, rotateX(-90deg) translateY(-150px));
    }

    &:nth-child(4) {
      @include transformValues(bottom, rotateX(90deg) translateY(150px));
    }

    &:nth-child(5) {
      @include transformValues(bottom, translateZ(-150px));
    }

    &:nth-child(6) {
      @include transformValues(left, translateZ(150px));
    }

  }
}


// Projects
.details-description {
  font-size: 20px;
  width: 50%;
  height: 40vh;
  margin-left: 15px;
}



// Widescreen 
@include mediaXL {}


// Desktops & Laptops 
@include mediaLg {}


// Tablets and Small Laptops 
@include mediaMd {

  body {
    overflow-y: scroll;
  }

  // Menu
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/aboutme.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 150px;
      height: 150px;
    }
  }


  // Aboutme
  .container {
    margin-bottom: 10px;

    .left {
      width: 100%;
      margin-top: -120px;

      p {
        min-width: 200px;
      }
    }

    &-cube {
      margin-top: -20px;
      width: 200px;
      height: 200px;

      .box {

        &:nth-child(1) {
          @include transformValues(left, rotateY(90deg) translateX(-100px));
        }

        &:nth-child(2) {
          @include transformValues(right, rotateY(-90deg) translateX(100px));
        }

        &:nth-child(3) {
          @include transformValues(top, rotateX(-90deg) translateY(-100px));
        }

        &:nth-child(4) {
          @include transformValues(bottom, rotateX(90deg) translateY(100px));
        }

        &:nth-child(5) {
          @include transformValues(bottom, translateZ(-100px));
        }

        &:nth-child(6) {
          @include transformValues(left, translateZ(100px));
        }

      }
    }
  }


  // Projecs
  .details-description {
    font-size: 14px;
    width: 45%;
    height: 40vh;
  }

}


// Smartphones
@include mediaSm {
  main#home {
    h1 {
      margin-top: 10vh;
    }
  }
}
