.swiper {
  &-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &-slide {
    width: 30vh;
    height: 40vh;
    background-position: center;
    background-size: cover;
  }
}

.details {
  width: 100%;
  height: 40vh;
  border: 2px solid green;
  display: inline-block;
  vertical-align: top;

  &-img {
    border: 1px solid red;
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;

    .img-project {
      border: 1px solid yellow;
      width: 20vh;
      height: 25vh;
      transition: all 0.5s;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: top;
      margin: 10px;
      border-radius: 10px;
    }
  }

  &-description {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 100%;
    border: 2px solid blue;
  }

  &-technologies {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    height: 100%;
    border: 2px solid yellow;

    .logo-tech {
      // display: inline;
      width: 100%;
      height: auto;
      border: 2px solid green;
    }
  }
}
