<div>
    <br>
    <br>
    <h3>Do you have any questions?</h3>
    <h3>Would you like to work together?</h3>
    <table>
        <tr>
            <td>
                <a href="assets/David Osorno - Resume.pdf" target="blank"> 
                    <img id="resume" style="margin-left: -20px;" class="img" src="assets/images/contactme/pdf.png" alt="My Resume"> My Resume.
                </a>    
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/david-osorno/" target="blank">
                    <img id="linkedin" class="img" src="assets/images/contactme/linkedin2.png" alt="Linked Profile"> David Osorno.
                </a>
            </td>
        </tr>
    </table>
</div>