  <main id="home">
    <h1 class="lg-heading">
      David
      <span class="text-secondary">
        Osorno
      </span>
    </h1>
    <h2 class="sm-heading">
      Android Engineer & Web Developer
    </h2>
    <div class="icons">
      <a href="#!">
        <i class="fab  fa-twitter fa2x"></i>
      </a>
      <a href="#!">
        <i class="fab  fa-facebook fa2x"></i>
      </a>
      <a href="#!">
        <i class="fab  fa-linkedin fa2x"></i>
      </a>
      <a href="#!">
        <i class="fab  fa-github fa2x"></i>
      </a>
    </div>
  </main>
