<main id="home">
  <div class="container">
    <div class="left">
      <h1>About<span class="text-secondary">Me</span></h1>
      <p>
        I have always been passionate about coding and technology and became a proactive software developer, proficient in multiple programming languages. I love coding and creating new solutions either from scratch or refactoring code.
        <br>
        I worked on Android development since 2013 with Java, then I started learning Kotlin in 2018 to improve my skills and got an Android Associate Certification in Kotlin by Google Developers in March 2020.
        Aditionally, I attended Coding Dojo to learn more about Full Stack development and I got Black Belt for each stack I worked on. I am really proud! (I didn't know too much English).
      </p>
      <p>
        I really love pets, especially dogs, and I enjoy taking them on hikes or running whenever I can.
        My other passion are bikes, there is nothing like listening to a super sports bike when you shift up and feeling the freedom on the street.
      </p>

      <p>I had the opportunity to start teaching Full Stack development to people who are new to programming languages and I find immense joy on it. Witnessing their journey from having no prior knowledge to gaining a solid understanding and proficiency in coding is incredibly rewarding, as it empowers them to explore new opportunities, express their creativity, and unlock the potential of technology in their lives. </p>
    </div>
    <div id="cube" class="container-cube">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </div>
</main>
