<main id="home">
  <div class="container">
    <div class="left">
      <h1>
        About
        <span class="text-secondary">
          Me
        </span>
      </h1>
      <p style="min-width: 400px;">
        I have always been passionate about coding and technology and became a proactive software developer, proficient in multiple programming languages. I love coding and creating new solutions either from scratch or refactoring code. <br>
        I have been focused on Android development since 2013 with Java, then I started learning Kotlin in 2018 to improve my skills and got my Android Associate Certification in Kotlin by Google Developers in March 2020.
        Moreover, I attended Coding Dojo to learn more about web development and I got Black Belt for each stack I worked on. I am really proud!<br> <br>
        I really love pets, especially dogs, and I enjoy taking them on hikes whenever I can.<br>
        Lastly, my other passion is bikes, there is nothing like listening to a super sports bike when it is going to shift up.
      </p>
    </div>
    <div id="cube" class="container-cube">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </div>
</main>
