 <!-- Swiper -->
 <div class="swiper-container">
   <div class="swiper-wrapper">
     <div class="swiper-slide" id="arvd" style="background-image:url(../../assets/img/projects/arvd.png)"></div>
     <div class="swiper-slide" id="qyq" style="background-image:url(../../assets/img/projects/qyq.png)"></div>
     <div class="swiper-slide" id="pacman" style="background-image:url(../../assets/img/projects/pacman.png)"></div>
     <div class="swiper-slide" id="wall" style="background-image:url(../../assets/img/projects/wall.png)"></div>
     <div class="swiper-slide" id="admin" style="background-image:url(../../assets/img/projects/admin.png)"></div>
     <div class="swiper-slide" id="pacmm" style="background-image:url(../../assets/img/projects/pacmm.png)"></div>
   </div>
   <!-- Add Pagination -->
   <div class="swiper-pagination"></div>
 </div>
  <div class="details-description">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, id? Id perferendis obcaecati aut ipsam a eos,
      tempora animi, molestias aliquid quam est esse corrupti, ullam dolore impedit laborum ea!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis suscipit est quam animi assumenda dolor at
      eaque, voluptatibus exercitationem culpa, in beatae soluta ex illo eum sunt consequatur accusantium
      necessitatibus.
    </p>
 </div>
 <div class="details">
   <div class="details-img">
     <div class="img-project"></div>
     <div class="img-project"></div>
     <div class="img-project"></div>
     <div class="img-project"></div>
   </div>
   <!-- <div class="details-technologies">
     <div class="logo-tech"></div>
     <div class="logo-tech"></div>
     <div class="logo-tech"></div>
     <div class="logo-tech"></div>
   </div> -->
 </div>
