<!-- <main id="home">
  <div class="container">
    <div class="left">
      <h1>
        Projects
        <span class="text-secondary">
          Done!
        </span>
      </h1>
    </div>
  </div>
</main>
 -->

<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" id="qyq" style="background-image:url(assets/img/projects/qyq0.png)"></div>
    <div class="swiper-slide" id="regulations" style="background-image:url(assets/img/projects/regulations0.png)"></div>
    <div class="swiper-slide" id="arvd" style="background-image:url(assets/img/projects/arvd0.png)"></div>
    <div class="swiper-slide" id="pacman" style="background-image:url(assets/img/projects/pacman0.png)"></div>
    <div class="swiper-slide" id="pacmm" style="background-image:url(assets/img/projects/pacmm0.png)"></div>
    <div class="swiper-slide" id="wall" style="background-image:url(assets/img/projects/wall0.png)"></div>
  <!-- Add Pagination -->
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="details-description">
  <p id="descProject">
  </p>
</div>
<div class="details">
  <div class="details-img">
    <div class="img-project"></div>
    <div class="img-project"></div>
    <div class="img-project"></div>
    <div class="img-project"></div>
  </div>
  <!-- <div class="details-technologies">
     <div class="logo-tech"></div>
     <div class="logo-tech"></div>
     <div class="logo-tech"></div>
     <div class="logo-tech"></div>
   </div> -->
</div>
