<main id="home">
  <div class="container">
    <div class="left">
      <h1>
        Projects
        <span class="text-secondary">
          Done!
        </span>
      </h1>
    </div>
  </div>
</main>

<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" id="qyq" style="background-image:url(assets/img/projects/qyq0.png)"></div>
    <div class="swiper-slide" id="regulations" style="background-image:url(assets/img/projects/regulations0.png)"></div>
    <div class="swiper-slide" id="pacman" style="background-image:url(assets/img/projects/pacman0.png)"></div>
    <div class="swiper-slide" id="pacmm" style="background-image:url(assets/img/projects/pacmm0.png)"></div>
    <div class="swiper-slide" id="wall" style="background-image:url(assets/img/projects/wall0.png)"></div>
    <div class="swiper-slide" id="arvd" style="background-image:url(assets/img/projects/arvd0.jpg)"></div>
    <!-- <div class="swiper-slide" id="itlooks" style="background-image:url(assets/img/projects/itlooks0.png)"></div> -->
    <div class="swiper-slide" id="moviesblog" style="background-image:url(assets/img/projects/moviesblog0.jpg)"></div>
    <div class="swiper-slide" id="growthmonitor" style="background-image:url(assets/img/projects/growthmonitor0.png)"></div>
    <div class="swiper-slide" id="weather" style="background-image:url(assets/img/projects/weather0.jpg)"></div>
    <!-- <div class="swiper-slide" id="tutorelf" style="background-image:url(assets/img/projects/tutorelf0.png)"></div> -->
    <!-- <div class="swiper-slide" id="enterpriseblog" style="background-image:url(assets/img/projects/enterpriseblog0.png)"></div> -->
  <!-- Add Pagination -->
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="details">
  <p id="descProject">
  </p>
    <div class="details-img">
      <div class="img-project"></div>
      <div class="img-project"></div>
      <div class="img-project"></div>
      <div class="img-project"></div>
    <div class="details-technologies">
       <!-- <div class="logo-tech"></div>
       <div class="logo-tech"></div>
       <div class="logo-tech"></div>
       <div class="logo-tech"></div> -->
     </div>
  </div>
</div>
