.container {
  width: 100%;
  height: 100%;

  .left {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: top;
    margin-right: 150px;
  }

  &-cube {
    display: inline-block;
    vertical-align: top;
    position: relative;
    transition: all ease-out 20s;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: rotateCube 10s 1 reverse;

    &:hover {
      transform: rotateX(90deg) rotateY(270deg) rotateZ(90deg);
    }

    .box {
      position: absolute;
      border-radius: 5px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0px;
      transition: all 0.5s;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:nth-child(1) {
        background-image: url(../../assets/img/aboutme/aboutme0.jpg);
        // @include transformValues(left,  rotateY(90deg) translateX(-150px));
      }

      &:nth-child(2) {
        background-image: url(../../assets/img/aboutme/aboutme1.jpg);
        // @include transformValues(right,  rotateY(-90deg) translateX(150px));
      }

      &:nth-child(3) {
        background-image: url(../../assets/img/aboutme/aboutme2.jpg);
        // @include transformValues(top,  rotateX(-90deg) translateY(-150px));
      }

      &:nth-child(4) {
        background-image: url(../../assets/img/aboutme/aboutme3.jpg);
        // @include transformValues(bottom,  rotateX(90deg) translateY(150px));
      }

      &:nth-child(5) {
        background-image: url(../../assets/img/aboutme/aboutme4.jpg);
        // @include transformValues(bottom,  translateZ(-150px));
      }

      &:nth-child(6) {
        background-image: url(../../assets/img/aboutme/aboutme5.jpg);
        // @include transformValues(left,  translateZ(150px));
      }
    }
  }
}