*{
    font-family: Arial, Helvetica, sans-serif;
}

#portfolio{
    overflow: visible;
    overflow-y: scroll;
    height: 850px;
}

.div-img{
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    height: 98%;
    border-radius: 0 70px 70px 70px;
    transform: translate(0);
    -moz-transform: translate(0);
    -webkit-transform: translate(0);
    -o-transform: translate(0);
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    border: 4px solid rgba(255, 94, 0, 0.111);
}

.img:hover, .img:active{
    transform: translate(200px, 0);
    -moz-transform: translate(200px, 0);
    -webkit-transform: translate(200px, 0);
    -o-transform: translate(200px, 0);
    opacity: 0.5;
    transition: all 1.5s ease-in-out;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
}

.overlay{
    width: 400px;
    height: 400px;
    position: relative;
    /* background:linear-gradient(90deg, 
        rgba(70, 70, 70, 0.156),
        rgba(70, 70, 70, 0.356),
        rgba(70, 70, 70, 0.556),
        rgba(70, 70, 70, 0.756),
        rgba(0, 0, 0, 0.964)); */
    background-image: radial-gradient(rgba(0, 0, 0, 0.020), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    margin: -400px 0;
    opacity: 0;
    z-index: -1;
    transition: all 500ms ease-in-out;
}

.div-img:hover .overlay, .div-img:active .overlay{
    opacity: 0.5;
    transition: all 1.5s ease-in-out;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
}

.text{
    width: 150px;
    height: 300px;
    position: relative;
    margin: -360px 30px;
    opacity: 0;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    z-index: -1;
}

.div-img:hover .text, .div-img:active .text{
    opacity: 1;
    transition: all 1.5s ease-in-out;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
}

@media only screen and (max-width: 480px)
{
    #textDesktop{
        display: none;
    }

    #textPhone{
        margin: 20px 0;
    }

    div{
        margin: 10px 0;
    }

    #portfolio{
        width: 99%;
        margin: 30px 0px;
    }
}


@media only screen and (min-width: 481px)
{
    #textPhone{
        display: none;
    }
    
    #textDesktop{
        margin: 0 15%;
    }

    div{
        margin: 20px 15%;
    }

    #portfolio{
        width: 85%;
    }
}


@media only screen and (min-width: 1024px)
{
    #textPhone{
        display: none;
    }
    
    #textDesktop{
        margin: 0 20px;
    }

    div{
        display: inline-block;
        vertical-align: top;
        margin: 0 50px;
        padding: 20px;
    }

    .overlay{
        width: 385px;
        height: 360px;
    }

    #portfolio{
        width: 95%;
    }
}