<div id="portfolio">
    <br><br>
    <span id="textPhone"> Click on each picture to see the description. </span>
    <span id="textDesktop"> Put the mouse over each picture to see the description. </span>

    <br>
    
    <div id="div-vir-pe" class="div-img">
        <img id="vir-pe" class="img" src="assets/images/portfolio/virtualpet.jpg" alt="Augmented Reality">
        <div class="overlay"></div>
        <div class="text" style="font-size: 12px">
            <b style="font-size: 12px">PROJECT TO GRADUATE</b>  
            <p>
                I love dogs, and I wanted to show my classmates a simple application with a virtual pet in <b>Augmented Reality</b>.
                <br>
                It follow you, bark and lay down when you order it.
                <br><br>
                I still work in this project to enhance the app.
            </p>
        </div>
    </div>

    <div id="div-and-app" class="div-img">
        <img id="and-app" class="img" src="assets/images/portfolio/quesosyquesosapp.png" alt="Android App">
        <div class="overlay"></div>
        <div class="text" style="font-size: 12px">
            <b style="font-size: 12px">SALES APP</b>  
            <p>
                This application was created to help the company grow and improve the sales system. 
                <br>
                It allows to store general information about each customer, also the products that they buy,
                average amount, purchase history, print the invoice by bluetooth and after saving the information, the application sends it to the server.
                <br>
                It also allows to have different user roles such as general manager, sales manager, seller, and so on, and handle inventory 
                of the products that the seller still has.
            </p>
        </div>
    </div>


    <div id="div-and-app-admin" class="div-img">
            <img id="and-app" class="img" src="assets/images/portfolio/adminapp.png" alt="Android App">
            <div class="overlay"></div>
            <div class="text" style="font-size: 12px">
                <b style="font-size: 12px">REGULATIONS AND RAW MATERIAL</b>  
                <p>
                    System created to monitor government compliance for health and safety code regulations.  In addition, the application handles inventory
                    of raw material, entry and exit of workers, and some formats for Invima (The Colombia National Food and Drug Surveillance Institute).
                </p>
            </div>
        </div>

    
    <div id="div-desk-app" class="div-img">
        <img id="administrativo" class="img" src="assets/images/portfolio/administrativo.png" alt="Desktop App">
        <div class="overlay"></div>
        <div class="text" style="font-size: 11px">
            <b style="font-size: 12px">DESKTOP APP</b>
            <p>
                App to manage datas saved by both sellers and production manager in the Android Apps that we have connected to same database.
                <br>
                It allows to see the bills that we have not paid of raw material and check the docuemnts that we must have in order when the Invima requests them.
                <br>
                Sales report, create or delete employes, see invoice saved by the sellers, trusted by the seller, average sales are some app's features.
            </p>
        </div>
    </div>

    
    <div id="div-python-app" class="div-img">
        <img id="postandcomments" class="img" src="assets/images/portfolio/postandcomments.jpg" alt="Post And Comments in Python">
        <div class="overlay"></div>
        <div class="text" style="font-size: 12px">
            <b style="font-size: 12px">PYTHON APP</b>  
            <P>
                App made to comunicate people about a certain topic. You can create a topic, and the people have to register to be able to write down their comments.
                <br>
                Just the Topic owner is able to remove it.
            </P> 
        </div>
    </div>

    
    <div id="div-single-app" class="div-img">
        <img id="singlepacman" class="img" src="assets/images/portfolio/singlepacman.jpg" alt="Single Pacman">
        <div class="overlay"></div>
        <div class="text" style="font-size: 12px">
            <b style="font-size: 12px">SINGLE PACMAN</b>  
            <P>
                Single and Multiplayer Pacman were made as a code practice in Coding Dojo.
                <br>
                For Single Pacman I just made it with HTML, CSS and Javascript. 
                <br>
                The world is random and change every time the Game start.
            </P> 
        </div>
    </div>

    
    <div id="div-multi-app" class="div-img">
        <img id="multipacman" class="img" src="assets/images/portfolio/multipacman.jpg" alt="Multiplayer Pacman">
        <div class="overlay"></div>
        <div class="text" style="font-size: 12px">
            <b style="font-size: 12px">MULTIPLAYER PACMAN</b>  
            <P>
                Single and Multiplayer Pacman were made as a code practice in Coding Dojo.
                <br>
                To develop the multiplayer Pacman, I used the Node.js with built-in Socket technology that allows direct communication between connected systems.
                <br>
                Like the Single Pacman, the world is random and change every time the Game start, but in this case, the world change for every player too, and 
                all the players can see the progress for the other.
            </P> 
        </div>
    </div>

    
    <div id="div-blog-app" class="div-img">
        <img id="blogmean" class="img" src="assets/images/portfolio/blogmean.jpg" alt="Blog Mean">
        <div class="overlay"></div>
        <div class="text" style="font-size: 12px">
            <b style="font-size: 12px">MOVIE BLOG</b>  
            <P>
                When you see a movie, you would normally like to share your comments about it. So, this is the right place to do it.
                <br>
                You must register and automatically you will see the different movie title that you can comment on, create a new one
                movie title, begin to comment and rating the movie.
                <br>
                Have Fun!
            </P> 
        </div>
    </div>
</div>
