#enlaces{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: fixed;
    background-color: white;
    width: 100%;
    top: -5px;
    z-index: 1;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

@media only screen and (max-width: 480px)
{
    a{
        display: block;
        padding: 3px;
    }   
}



@media only screen and (min-width: 481px) 
{
    #enlaces{
        width: 95%;
        min-width: 500px;
    }

    a{
        width: 150px;
        display: inline-block;
    }
}



@media only screen and (min-width: 1024px)
{
}