<!-- <div class="slide-show">
  <img src="../../assets/img/aboutme3.jpg" alt="project1" class="img-project">
  <img src="../../assets/img/aboutme3.jpg" alt="project2" class="img-project">
  <img src="../../assets/img/aboutme3.jpg" alt="project3" class="img-project">
  <img src="../../assets/img/aboutme3.jpg" alt="project4" class="img-project">
</div>
<div class="details">
  <div class="carousel">
    <div class="slider">
      <div class="slide-track">
        <img src="../../assets/img/technologies/android.png" height="100" width="250" alt="" />

        <img src="../../assets/img/technologies/android-jetpack.png" height="100" width="250" alt="" />

        <img src="../../assets/img/technologies/angular.png" height="100" width="250" alt="" />

        <img src="../../assets/img/technologies/arcore.png" height="100" width="250" alt="" />

      </div>
    </div>
  </div>
</div> -->