<main id="home">
  <h1 class="lg-heading">
    David
    <span class="text-secondary">
      Osorno
    </span>
  </h1>
  <h2 class="sm-heading">
    Software Developer, Android Passionate, AR/VR/MR Enthusiast
  </h2>
    <div class="icons">
      <a href="https://www.linkedin.com/in/david-osorno/" target="_blank" rel="noopener noreferrer">
        <i class="fab  fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/davidosorno" target="_blank" rel="noopener noreferrer">
        <i class="fab  fa-github fa-2x"></i>
      </a>
    </div>
</main>
